---
layout: opticon
seo_title: "Opticon Conference"
no_container: true
no_header: true
no_footer: true
body_class:
- opticon
- opticon-homepage
description: "Coming June 17th & 18th, Opticon is the premier event for the optimization and testing community. Join us and take your optimization program to the next level!"
og_title: "Opticon 2015"
og_description: "Join us at Opticon and learn why experience optimization is a must for your business."
page_script: opticon-homepage.js
external_script:
- //use.typekit.net/ucj0cgp.js
- //fast.wistia.com/assets/external/popover-v1.js
---
<head>
  <script>
  wistiaJQuery(document).ready( function() {
    var url = window.location.href.toString();
    if ( url.indexOf('video') != -1 )
    {
      console.log('in wistia if statement');
      wistiaJQuery('#sizzlerVidLink').first().click();
    }
  });
  </script>
</head>

{{#with global_opticon_data}}
<div class="confetti-container">
  <div class="confetti-left"></div>
</div>

<!--             -->
<!--Title Section-->
<!--             -->
<section class="title-section" l10n-skip>
  <div class="copy-container container">
    <div>
      <span class="page-title page-title__top adelle-sans--bold">{{title_section.title1}}</span><br>
      <span class="page-title adelle-sans--bold">{{title_section.title2}}</span>
    </div>
  </div>
  <div class="recap-cta">
    <a id= "sizzlerVidLink" class="opticon-button opticon-button--header wistia-popover[height=529,playerColor=7b796a,width=940]" href="//fast.wistia.net/embed/iframe/2tjc92ds7u?popover=true">
      <div class="cta-text adelle-sans">{{title_section.cta_recap}}</div>
    </a>  
  </div>
  <p class="hero-text adelle-sans--bold">{{title_section.sessions_link_description}}<a href="{{../linkPath}}/opticon/sessions">{{title_section.sessions_link_text}}</a><p>
</section> 

<div class="confetti-container">
  <div class="confetti-right"></div>
</div>

<!--                   -->
<!--Description Section-->
<!--                   -->
<section class="container" l10n-skip>
  <h3 class="description-title adelle-sans">{{description.title}}</h3>
  <p class="description-text description-text--center adelle-sans">{{{description.blurb}}}</p>
</section>

<!--             -->
<!--Quote Section-->
<!--             -->
<section class="filled-section">
  <div class="quote-container">
    <h3 class="adelle-sans--bold">{{customer_quote.quote}}</h3>
    <p class="adelle-sans--bold">{{customer_quote.attribution}}</p>
  </div>
</section>


<!--                -->
<!--Speakers Section-->
<!--                -->
<section class="container" l10n-skip>
  <h3 class="description-title adelle-sans">{{speaker_section.title}}</h3>
  <div class="speakers-container flex-container">
    {{#each speaker_section.speaker_list}}
    <div class="speaker-container" style="background-image: url('{{this.image}}')">
      <p class="item-title adelle-sans--bold">{{this.speaker_name}}</p>
      <p class="item-source adelle-sans">{{this.company}}</p>
    </div>
    {{/each}}
  </div>
  <h5 class="speaker-companies-title adelle-sans--bold">{{speaker_section.featuring}}</h5>
  <div class="logo-wall flex-container">
    {{#each speaker_section.company_list}}
    <div class="logo-wall__company {{this.class}}" style="background-image: url('{{this.image}}')"></div>
    {{/each}}
  </div>
</section>

<!--              -->
<!--Tracks Section-->
<!--              -->
{{!Commented out until /opticon moves to /opticon-2015 }}
{{!-- <section class="tracks container" l10n-skip>
  <h3 class="description-title adelle-sans">{{tracks.title}}</h3>
  <p class="description-text description-text--center adelle-sans">{{tracks.description}}</p>
  <div class="tracks-container flex-container">
    {{#each tracks.track_list}}
      <div class="track-container {{this.class}}">
        <p class="item-title adelle-sans--bold">{{this.title}}</p>
        <p class="detail-text adelle-sans">{{this.blurb}}</p>
      </div>
    {{/each}}
  </div>
  <a class="opticon-button opticon-button--internal-link blue-hover" href="{{../linkPath}}/opticon/agenda">
    <div class="cta-text adelle-sans">{{tracks.cta}}</div>
  </a>
  <p class="adelle-sans">{{tracks.2014_text}}<a href="{{../linkPath}}/opticon/opticon-2014">{{tracks.2014_link}} &raquo;</a></p>

</section> --}}

{{/with}}

{{> opticon_register }}
