              <ul class="become-partner-fields technology clearfix">
                <li>
                  <label id="name-label">
                      <span class="name-related error-hide error-right first_name-related">{{tr 'Required'}}</span>
                      <span>{{tr 'First Name'}}:</span>
                      <input type="text" name="first_name" autofocus required>
                      <span class="lname-label" >{{tr 'Last Name'}}:</span>
                      <input type="text" name="last_name" required>
                  </label>
                </li>
                <li>
                  <label id="role-label">
                      <span>{{tr 'Role'}}:</span>
                      <span class="title-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="role" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="email-address-label">
                      <span>{{tr 'Email address'}}:</span>
                      <span class="email_address-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="email" name="email" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="company-name-label">
                      <span>{{tr 'Company name'}}:</span>
                      <span class="company_name-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="company" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="website-label">
                      <span>{{tr 'Company website'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="website" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="address-label">
                      <span>{{tr 'Address'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="address" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="city-label">
                      <span>{{tr 'City'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="city" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="state-label">
                      <span>{{tr 'State'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="state" name="state" tabindex="1">
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                    <option value="Not Applicable">Not applicable</option>
                  </select>
                </li>
                <li class="form-row">
                  <label id="zip-label">
                      <span>{{tr 'Zip code'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="zip" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="country-label">
                      <span>{{tr 'Country'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="country" required>
                  </label>
                </li>


                <li class="form-row">
                  <label id="company-type-label">
                      <span>{{tr 'Company type'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <select id="company_type" name="company_type" tabindex="1">
                    <option value="">{{tr 'Select an option...'}}</option>
                    <option value="Subsidiary">{{tr 'Subsidiary'}}</option>
                    <option value="Independent">{{tr 'Independent'}}</option>
                  </select>
                </li>
                <li class="form-row parent-company-row hidden">
                  <label id="parent-company-label">
                      <span>{{tr 'Name of parent company'}}:</span>
                      <input type="text" name="parent_company">
                  </label>
                </li>
                <li class="form-row">
                  <label id="reason-label">
                      <span>{{tr 'Why are you interested in partnering with Optimizely?'}}</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="Tech_Partner_goal_for_partnership__c" required>
                  </label>
                </li>
                <li class="form-row">
                  <label id="target-label">
                      <span>{{tr 'Do you have a client with an immediate need for Optimizely?'}}</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                  </label>
                  <div class="radio_buttons">
                    <div>
                      <span>
                        <input name="has_immediate_project__c" type="radio" value="yes" />Yes

                      </span>
                      <span>
                        <input name="has_immediate_project__c" type="radio" value="no" />No
                      </span>
                    </div>
                  </div>
                </li>
                <li class="form-row">
                  <label id="existing-customers-label">
                      <span>{{tr 'List any existing clients you have who are using Optimizely'}}:</span>
                      <span class="website-related error-hide error-right">{{tr 'Required'}}</span>
                      <input type="text" name="Existing_customers_using_Optimizely__c" required>
                  </label>
                </li>


                <input type="hidden" name="Initial_Form_Source__c"      value="Solutions Partner Request" >
                <input type="hidden" name="Inbound_Lead_Form_Type__c"   value="Solutions Partner Request" >
                <input type="hidden" name="leadSource"                  value="Website">
                <input type="hidden" name="Lead_Source_Category__c"     value="Contact Request" >
                <input type="hidden" name="Lead_Source_Subcategory__c"  value="Solutions Partner Request">


              </ul>
              <div class="options">
                <p class="error-message error-hide">{{tr 'Please Correct Form Errors'}}</p>
              </div>
