---
layout: wrapper
layout_script: opticon.js
layout_body_class: false
---

<nav id="opticon-nav-bar">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img class="opticon-logo--nav" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo-final.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/sessions/">Recorded Sessions</a>
    <a class="nav-text-item opticon-button opticon-button--nav adelle-sans" href="http://pages.optimizely.com/c-opticon-email-updates.html">Sign Up for 2016 Updates</a>
  </div>
</nav>

{% body %}


<footer id="opticon-footer">
  <div class="container opticon-flex-container">
    <div class="opticon-logo">
      <a href="{{linkPath}}/opticon">
        <img class="opticon-logo--nav" src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/opticon/opticon-logo-final.svg" alt="Opticon 2015">
      </a>
    </div>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/speakers/">Speakers</a>
    <a class="nav-text-item nav-text-item--internal-page adelle-sans" href="{{linkPath}}/opticon/sessions/">Recorded Sessions</a>
  </div>
  <div class="container social-container">
    <a class="social facebook" href="https://www.facebook.com/optimizely"></a>
    <a class="social twitter" href="https://twitter.com/optimizely"></a>
  </div>
</footer>
